@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kiosk base reset */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #0A0A0A;
  font-family: 'Inter', sans-serif;
}
